/** Login forms **/
.bg-login {
    background: #343a40;
}

.form-login {
    width: 400px;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    background: #fafafa;
}

.form-signup {
    width: 600px;
    padding: 20px;
    margin-top: 100px;
    background: #fafafa;
    text-align: center;
}

.form-signup label {
    text-align: left;
}

/** Admin Property tables: worker, switch, node, environment **/
.admin {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.admin .title {
    width: 300px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    text-align: right;
}

.admin > select {
    width: 294px;
    margin-left: 6px;
}

.admin .none {
    padding-left: 6px;
}

.admin .ok {
    color: green;
}

.admin .wrong {
    color: red;
}

.admin .prop-table {
    margin-left: 6px;
    padding: 0;
}

.admin .prop-table .row {
    margin-bottom: 3px; 
}

.admin .prop-table .col select {
    width: 154px;
    height: 30px;
}

.admin .add-button {
    width: 286px;
}

.admin .delete-button {
    width: 80px;
}

.admin .switch-table {
    display: none;
}

.admin .port-node {
    width: 240px;
    border: 2px solid #fff;
    text-align: center;
}

.admin .on {
    background: #c1ff9b;
}

.admin .off {
    background: #fec2b2;
}

.admin .unknown {
    background: #e7eae6;
}

.admin .switch-title {
    margin-top: 10px;
    background: #6c757d;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.admin .switch-buttons {
    padding-left: 6px;
}

.admin .switch-buttons select {
    width: 200px;
}

.admin .switch-buttons .btn-info {
    width: 100px;
    margin-left: 688px;
}

.admin .switch-console {
    width: 90%;
    height: 200px;
    overflow-y: auto;
    padding-left: 6px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 20px;
    display: none;
}

/** Reserve page **/
.reserve {
    width: 800px;
    padding-top: 20px;
    background: #fff;
}

.reserve .title {
    width: 300px;
    padding-right: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-align: right;
}

.reserve .title-text {
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.reserve .nb-nodes {
    margin-left: 6px;
}

.searchbar .textbar {
    margin-left: 6px;
    margin-right: 35px;
    display: inline-block;
}

.searchbar input {
    width: 300px;
}

.searchbar img {
    position: relative;
    left: -40px;
}

.searchbar .add-filter {
    width: 100px;
    display: inline-block;
    height: 40px;
    padding-top: 8px;
    text-align: center;
}

.filters {
    height: 130px;
    background: #fff;
    margin-top: 10px;
    overflow-y: auto;
}

.filter {
    width: 184px;
    height: 50px;
    border: 1px solid green;
    margin: 2px;
    padding-left: 5px;
    display: inline-block;
}

.filter > div:first-child {
    width: 117px;
    float: left;
}

.filter span:first-child {
    color: green;
}

.filter .suppr {
    width: 26px;
    height: 48px;
    padding-top: 10px;
    background: green;
    color: white;
    text-align: center;
    float: right;
}

/* Set the height to avoid the next div to move when the info-view is shown */
.default-view {
    height: 250px;
}

.info-view {
    width: 800px;
    height: 284px;
    color: #fff;
    opacity: 0.7;
    display: none;
    position: relative;
    top: -276px;
}

.reserve .nodeitems {
    height: 182px;
    margin-top: 6px;
    padding-left: 6px;
    overflow-y: auto;
}

.nodeitems .node {
    width: 184px;
    height: 30px;
    border: 1px solid green;
    margin: 2px;
    padding-left: 5px;
    display: inline-block;
    cursor: default;
}

.nodeitems .node div {
    display: inline-block;
}

.nodeitems .node div:last-child {
    width: 40px;
    height: 28px;
    background: green;
    text-align: center;
    color: white;
    float: right;
}

.nodeitems .reserved {
    background: #ffdfdf;
}

.reserve .fuzzy {
    height: 46px;
    margin-top: 16px;
}

.reserve .fuzzy input {
    width: 60px;
    font-size: 16px;
}

.reserve .fuzzy div:first-child {
    margin-top: 5px;
    float: left;
}

.reserve .fuzzy div:last-child {
    width: 130px;
    height: 40px;
    padding-top: 8px;
    margin-right: 10px;
    float: right;
}

.selectednodes {
    padding: 5px;
}

.selectednodes .ready-nodes {
    height: 144px;
    overflow-y: auto;
}

.selectednodes > div:last-child {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding-top: 7px;
}

/** Configure page **/
.configure {
    width: 800px;
    padding-top: 20px;
    background: #fff;
}

.configure form {
    padding-bottom: 5px;
}

.configure .desc {
    height: 100px;
    padding: 6px;
    overflow-y: auto;
    background: #f7f7f7;
}

.configure .title {
    width: 300px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    text-align: right;
}

.configure .name {
    margin-left: 10px; 
    margin-bottom: 10px; 
}

.configure .name .row {
    height: 40px;
}

.configure .name input {
    width: 300px;
}

.configure .type-selection {
    text-align: center;
    margin-bottom: 10px;
}

.configure .type-selection div {
    width: 160px;
    height: 40px;
    padding-top: 5px;
    display: inline-block;
    font-size: 18px;
}

.configure .type-selection div:not(:first-child) {
    margin-left: 20px;
}

.configure .node-config {
    height: 430px;
    overflow-y: scroll;
}

.configure .card-header a {
    width: 100%;
}

.configure .apply-button {
    margin-top: 8px;
    text-align: center;
}

.configure .apply-button {
    height: 30px;
    padding-top: 2px;
}

.configure .properties input {
    width: 210px;
}

.configure .properties select {
    width: 210px;
    height: 30px;
}

.configure .cancel-button {
    width: 100%;
    margin-top: 4px;
}

.configure .deploy-button {
    width: 100%;
    margin-top: 20px;
}

/** Manage Page **/
.manage {
    width: 800px;
    padding-top: 20px;
}

.manage .legend {
    text-align: center;
    font-size: 0px;
}

.manage .state {
    width: 20px;
    height: 30px;
    display: inline-block;
}

.manage .type-selection {
    text-align: center;
    margin-bottom: 10px;
}

.manage .type-selection div {
    width: 160px;
    height: 40px;
    padding-top: 5px;
    display: inline-block;
    font-size: 18px;
}

.manage .type-selection div:not(:first-child) {
    margin-left: 20px;
}

.manage .title {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.manage .title div {
    display: inline-block;
}

.manage .title div:first-child {
    width: 214px;
    height: 33px;
    margin-left: 10px;
}

.manage .title .rounded-right {
    width: 70px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    background: #d50000;
}

.manage .title .rounded-right:hover {
    background: #dc3545;
    cursor: pointer;
}

.manage .card-header {
    height: 54px;
    text-align: left;
}

.manage .card-header a > div {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.manage .card-header .rounded-circle {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    float: left;
}

.manage .card-header .node-name {
    line-height: 30px;
    margin-left: 6px;
    float: left;
}

.manage .card-header img {
    margin-right: 10px;
    float: right;
}

.manage .card-body .col > div:first-child {
    font-weight: bold;
    color: #138496;
}

.manage .actions {
    margin-bottom: 20px;
}

.manage .actions .text-info {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.manage .actions .text-info span {
    font-size: 18px;
    font-weight: bold;
}

.manage .actions div:last-child {
    padding-left: 10px;
}

.manage .action {
    margin-left: 10px;
}

.manage .action select {
    height: 38px;
    width: 200px;
}

.manage .action .btn {
    width: 150px;
    margin-left: 424px;
}

.manage .empty {
    height: 20px;
}

/** Settings Page **/
.settings {
    width: 800px;
    height: 600px;
    padding-top: 20px;
    padding-left: 6px;
    background: #fff;
}

.ssh {
    width: 400px;
    height: 300px;
    word-wrap: break-word;
    overflow-y: auto;
}
