/*** Common states ***/
.available {
    background-color: #cde7ca;
}

.configuring {
    background-color: #b8dcec;
}

.ready {
    background-color: #fffbb7;
}

.in_progress {
    background-color: #ff9f99;
}

.rebooted {
    background-color: #a2ff9e;
}

/*** Raspberry states ***/
/* 20 generated colors from https://mokole.com/palette.html */
.boot_conf {
    background-color: #2e8b57;
}

.turn_off {
    background-color: #191970;
}

.turn_on {
    background-color: #b22222;
}

.ssh_test {
    background-color: #bdb76b;
}

.env_copy {
    background-color: #9acd32;
}

.env_check {
    background-color: #ff0000;
}

.delete_partition {
    background-color: #ff8c00;
}

.create_partition {
    background-color: #ffd700;
}

.mount_partition {
    background-color: #0000cd;
}

.resize_partition {
    background-color: #dda0dd;
}

.wait_resizing {
    background-color: #ba55d3;
}

.system_conf {
    background-color: #00fa9a;
}

.boot_files {
    background-color: #87cefa;
}

.system_update {
    background-color: #ffe4b5;
}

.boot_update {
    background-color: #dc143c;
}

.user_conf {
    background-color: #ff00ff;
}

.deployed {
    background-color: #00ff00;
}

.lost {
    background-color: #696969;
}

/* Rebooting nodes */
.coming_back {
    background-color: #ff1493;
}

/* Destroying nodes */
.destroying {
    background-color: #fd7dff;
}

.destroyed {
    background-color: #b67dff;
}

/* Environment registration states */
.uncompress {
    background-color: #9fb8ff;
}

.read_info {
    background-color: #fbc7a6;
}

.img_upload {
    background-color: #bdfba6;
}

.update_db {
    background-color: #9cd5f8;
}

/*** G5k states ***/
.wait_running {
    background-color: #b22222;
}

.deploy {
    background-color: #ff8c00;
}

.wait_deploying {
    background-color: #ba55d3;
}


/*** IoT-Lab states ***/
.waiting {
    background-color: #9fb8ff;
}

.launching {
    background-color: #fbc7a6;
}

.running {
    background-color: #bdfba6;
}

.finishing {
    background-color: #9cd5f8;
}

.terminated {
    background-color: #c3c3c3;
}

.stopped {
    background-color: #414141;
}
