{% extends "base.html" %}
{% block other_js %}
	<script src="/static/js/admin.js"></script>
{% endblock %}

{% block content %}
<div class="bg-white shadow admin">
    <center><h4>{{elem_type[0]|upper}}{{elem_type[1:]}} Configuration</h4></center>
    {% if msg is mapping %}
        {% set checks = msg %}
        {% set msg = "" %}
    {% else %}
        {% set checks = {} %}
    {% endif %}
    {% if msg and msg|length > 0 %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
    {% endif %}
    <!-- Remove the errors field -->
    {% set useless = elements.pop("errors") %}
    {% if elem_type != "agent" %}
        <div class="bg-info rounded-right title">Agent Selection</div>
        {% if elements|length == 0 %}
            <div id="agent-selector" class="none">No available agent</div>
        {% else %}
            <select id="agent-selector" name="agent" onchange="agentSelect(this)">
                {% for agent in elements %}
                    <option value="{{agent}}">{{agent}}</option>
                {% endfor %}
            </select>
        {% endif %}
    {% endif %}
    <div class="bg-info rounded-right title">
        Add {{elem_type[0]|upper}}{{elem_type[1:]}}
    </div>
    {% if elements|length == 0 %}
        <div class="none">No available agent</div>
    {% endif %}
    {% for agent in elements %}
        <!-- The class 'agent-div' is used by JS to hide the div -->
        <div id="{{agent}}-add" class="agent-div">
            {% if elements[agent]["properties"] is mapping %}
                {% if elem_type == "agent" %}
                    <div class="ml-1 mt-3 text-info">
                        <b>From Manual Configuration</b>
                    </div>
                {% endif %}
                <form id="{{agent}}-form" action="/admin/add/{{elem_type}}" method="post" class="text-center">
                    <input type="hidden" name="agent" value="{{agent}}">
                    {% set el_props = elements[agent]["properties"] %}
                    <table class="table add-element">
                        <thead>
                            <tr>
                                {% for prop in el_props %}
                                    <th scope="col">
                                        {{prop}}
                                    </th>
                                {% endfor %}
                            <tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for prop in el_props %}
                                    <td>
                                        {% if el_props[prop]|length == 0 %}
                                            {% if prop in checks %}
                                                <input type="text" name="{{prop}}" value="{{checks[prop]["value"]}}"
                                                    placeholder="{{prop}}" required>
                                                {% if "check" in checks[prop] %}
                                                    {% if checks[prop]["check"] %}
                                                        <span class="ok">ok</span>
                                                    {% else %}
                                                        <span class="wrong">wrong</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <input type="text" name="{{prop}}" placeholder="{{prop}}" required>
                                            {% endif %}
                                        {% else %}
                                            {% if prop in checks %}
                                                <input type="text" name="{{prop}}" value="{{checks[prop]["value"]}}"
                                                    placeholder="{{prop}}" required>
                                                {% if "check" in checks[prop] %}
                                                    {% if checks[prop]["check"] %}
                                                        <span class="ok">ok</span>
                                                    {% else %}
                                                        <span class="wrong">wrong</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <select name="{{prop}}">
                                                    {% for value in el_props[prop] %}
                                                        <option value="{{value}}">{{value}}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-info add-button" value="Add">
                </form>
            {% else %}
                <!-- List properties to add agent elements -->
                <div class="none">
                    {% if elements[agent]["properties"]|length == 0 %}
                        No properties
                    {% else %}
                        {{elements[agent]["properties"]}}
                    {% endif %}
                </div>
            {% endif %}
            <!-- Add agents from the VPN configuration -->
            {% if elements[agent]["vpn"]|length > 0 %}
                <div class="ml-1 mt-3 text-info">
                    <b>From VPN Configuration</b>
                </div>
                <table class="ml-3">
                    <thead>
                        <tr>
                            <th scope="col" class="vpn-large">
                                Name
                            </th>
                            <th scope="col" class="vpn-small text-center">
                                Ip
                            </th>
                            <th scope="col" class="vpn-small text-center">
                                Port
                            </th>
                            <th scope="col" class="vpn-large text-center">
                                Token
                            </th>
                            <th scope="col" class="vpn-small text-center">
                                Add
                            </th>
                    </thead>
                    <tbody>
                        {% for key in elements[agent]["vpn"] %}
                            {% set key_props = elements[agent]["vpn"][key] %}
                            <tr>
                                <td>
                                    {{key}}
                                </td>
                                <td class="text-center">
                                    {{key_props["ip"]}}
                                </td>
                                <td class="text-center">
                                    <input type="text" size="3">
                                </td>
                                <td class="text-center">
                                    <input type="text">
                                </td>
                                <td class="text-center">
                                    <a href="javascript:addVPNAgent('{{key}}')" class="btn btn-info delete-button">&#x002B;</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div><!-- agent-div -->
    {% endfor %}
    <div class="bg-info rounded-right title">Existing {{ elem_type[0]|upper}}{{elem_type[1:] }}s</div>
    {% if elements|length == 0 %}
        <div class="none">None</span>
    {% else %}
        {% for agent in elements %}
            <!-- The class 'agent-div' is used by JS to hide the div -->
            <div id="{{agent}}-existing" class="agent-div">
                {% if elements[agent]["existing"]|length == 0 %}
                    <div id="{{agent}}-existing" class="none">
                        None
                    </div>
                {% else %}
                    {% set existing = elements[agent]["existing"] %}
                    <table class="table text-center">
                        <thead>
                            <tr>
                                {% for prop in existing.values()|first %}
                                    <th scope="col">
                                        {{ prop[0]|upper}}{{prop[1:] }}
                                    </th>
                                {% endfor %}
                                {% if elem_type == "agent" %}
                                    <th scope="col">
                                        Rename nodes
                                    </th>
                                    <th scope="col">
                                        Reconnect
                                    </th>
                                {% endif %}
                                <th scope="col">
                                    Delete {{ elem_type[0]|upper}}{{elem_type[1:] }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elem in existing %}
                                <tr>
                                    {% for prop in existing[elem] %}
                                        {% set elem_str = existing[elem][prop]|string %}
                                        {% if elem_str|length > 18 %}
                                            <td title="{{elem_str}}">
                                                {{ elem_str[:18] }}...
                                                <div onclick="copyToClipboard(this)" class="text-info copy-button">
                                                    Copy
                                                </div>
                                        {% else %}
                                            <td>
                                                {% if elem_str == "disconnected" %}
                                                    <span class="text-danger">disconnected</span>
                                                {% else %}
                                                    {{ elem_str }}
                                                {% endif %}
                                        {% endif %}
                                        </td>
                                    {% endfor %}
                                    {% if elem_type == "agent" %}
                                        <td>
                                            <a href="/admin/node/rename/{{ existing[elem]["name"] }}/{{ existing[elem]["name"] }}"
                                                class="btn btn-info delete-button">&#9673;</a>
                                        </td>
                                        <td>
                                            <a href="/admin/reconnect/agent/{{ existing[elem]["name"] }}"
                                                class="btn btn-info delete-button">&#8635;</a>
                                        </td>
                                    {% endif %}
                                    <td>
                                        {% if elem_type == "client" %}
                                            <a href="/admin/delete/{{elem_type}}/{{agent}}/{{existing[elem]["ip"]}}" class="btn btn-warning
                                                delete-button">&#x2212;</a>
                                        {% else %}
                                            {% if elem_type == "agent" %}
                                                <a href="/admin/delete/{{elem_type}}/{{existing[elem]["name"]}}" class="btn btn-warning
                                                    delete-button">&#x2212;</a>
                                            {% else %}
                                                <a href="/admin/delete/{{elem_type}}/{{agent}}/{{existing[elem]["name"]}}" class="btn btn-warning
                                                    delete-button">&#x2212;</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div><!-- agent-div -->
        {% endfor %}
    {% endif %}
    {% if elem_type == "switch" %}
        <div class="bg-info rounded-right title">Switch Management</div>
        {% for agent in elements %}
            <!-- The class 'agent-div' is used by JS to hide the div -->
            <div id="{{agent}}-switch" class="agent-div">
                <div class="none">
                    Select the switch to manage:
                    <select id="{{agent}}-switch-list" onchange="displayTable(this)">
                        <option value="-">-</option>
                        {% for switch in elements[agent]["existing"] %}
                            <option value="{{agent}}-{{switch}}">
                                {{switch}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {% for switch in elements[agent]["existing"].values() %}
                    <input id="{{switch["name"]}}-agent" type="hidden" value="{{agent}}">
                    <div id="{{agent}}-{{switch["name"]}}" class="switch-table">
                        <div class="switch-title">Switch: {{switch["name"]}}</div>
                        <div id="{{switch['name']}}-table" class="container">
                            {% for n in range(0, switch["port_nb"]|int) %}
                                {% if n % 4 == 0 %}
                                    <div class="row">
                                {% endif %}
                                <div class="col port-node unknown">
                                    <div>{{n+1}}:</div>
                                    <input type="checkbox" name="{{switch["name"]}}-{{n+1}}">
                                </div>
                                {% if n % 4 == 3 %}
                                    </div><!-- row -->
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="switch-buttons">
                            <div>
                                <select id="{{switch['name']}}-actions" name="switch-action" onchange="loadInfo(this)">
                                    <option value="turn_on">Turn On Ports</option>
                                    <option value="turn_off">Turn Off Ports</option>
                                    <option value="port_status">Port Status</option>
                                    <option value="detect_nodes">Detect Nodes</option>
                                </select>
                                <div class="btn btn-info"
                                    onclick="reconfigure('{{switch['name']}}')">Execute</div>
                            </div>
                            <div id="action-desc">
                                Turn the <b>selected</b> ports on. If there are shutdown nodes on these ports, they will be powered on.
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="rounded switch-console">
                </div>
            </div><!-- agent-div -->
        {% endfor %}
    {% endif %}<!-- elem_type == "switch" -->
</div>
{% endblock %}
