<!DOCTYPE html>
<html>
    
<head>
	<title>PiSeduce</title>
	<link rel="stylesheet" href="/static/css/bootstrap-4.1.3-shadow.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/base.css">
    {% block other_css %}{% endblock %}
	<script src="/static/js/jquery-3.5.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/base.js"></script>
    {% block other_js %}{% endblock %}
</head>

<body>
    <!-- The active button uses a different color -->
    <input type="hidden" id="active-menu-btn" value="{{active_btn}}">
    <!-- Connection to the webUI API -->
    <div class="sidenav">
        <!-- Menu header -->
        <div class="sidenav-header">
            <img src="/static/img/piseduce.png" width="140px">
            <div>PiSeduce</div>
        </div>
        <!-- Menu items -->
        <a id="user_reserve" href="/user/reserve">Reserve</a>
        <a id="user_configure" href="/user/configure">Configure</a>
        <a id="user_manage" href="/user/manage">Manage</a>
        <a id="user_factory" href="/user/envfactory">Environment Factory</a>
        <a id="user_power" href="/user/powermonitoring">Power Monitoring</a>
        <a id="user_temp" href="/user/tempmonitoring">Temperature Monitoring</a>
        {% if admin %}
            <a id="admin_environment" href="/admin/get/environment"><span>(admin)</span> Environment</a>
            <a id="admin_node" href="/admin/get/node"><span>(admin)</span> Node</a>
            <a id="admin_switch" href="/admin/get/switch"><span>(admin)</span> Switch</a>
            <a id="admin_user" href="/admin/user"><span>(admin)</span> User</a>
            <a id="admin_agent" href="/admin/agent"><span>(admin)</span> Agent</a>
            <a id="admin_client" href="/admin/get/client"><span>(admin)</span> DHCP Clients</a>
            <a id="admin_vpn" href="/admin/vpn"><span>(admin)</span> VPN Clients</a>
        {% endif %}
        <a id="user_settings" href="/user/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>
    </div>
    <!-- Page content -->
    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
