{% extends "base.html" %}
{% block other_js %}
	<script src="/static/js/configure.js"></script>
{% endblock %}
{% block content %}
    <div class="bg-white shadow configure">
        <center><h4>Node Configuration</h4></center>
        <form action="/user/make/deploy" method="POST">
            <div class="desc">
            </div>
            {% if request.args.get('msg') %}
                <div class="alert alert-danger">
                    {{request.args.get('msg')}}
                </div>
            {% endif %}
            <!-- remove the errors field -->
            {% set useless = nodes.pop("errors") %}
            <div class="bg-info rounded-right title">
                Deployment
            </div>
            <div class="name">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <span>
                                Node bin name
                            </span>
                        </div>
                        <div class="col">
                            <input type="text" name="bin" onfocus="showDesc(this)" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-info rounded-right title">
                Nodes
            </div>
            <div class="type-selection">
                {% for node_type in nodes %}
                    <div id="{{node_type}}-button" class="btn btn-outline-info"
                        onclick="nodeSelection(this)">
                        {{node_type}}
                    </div>
                {% endfor %}
            </div>
            <div class="node-config">
                {% for node_type in nodes %}
                    {% if nodes[node_type]|length > 0 %}
                        <div id="{{node_type}}">
                            {% for node_name in nodes[node_type] %}
                                {% set node_data = nodes[node_type][node_name] %}
                                <!-- Remember the loop iterator -->
                                {% set node_loop = loop %}
                                <!-- Remove the 'node_bin' property (shared deployment properties) -->
                                {% set useless = node_data.pop("node_bin") %}
                                {% set agent = node_data.pop("agent") %}
                                <!-- configure the number of columns per row -->
                                {% set nb_col = 3 %}
                                {% set extra_col = (nb_col - node_data|length % nb_col) % nb_col %}
                                <!-- Send the agent name in the form -->
                                <input type="hidden" id="{{node_name}}-agent" name="{{node_name}}-agent" value="{{agent}}">
                                <div class="card">
                                    <div id="heading-{{node_name}}" class="card-header">
                                        {% if loop.index == 1 %}
                                            <a type="button" data-toggle="collapse" data-target="#collapse-{{node_name}}"
                                                aria-expanded="true" aria-controls="collapse-{{node_name}}" class="btn btn-link">
                                                {{node_name}}
                                            </a>
                                        {% else %}
                                            <a type="button" data-toggle="collapse" data-target="#collapse-{{node_name}}"
                                                aria-expanded="false" aria-controls="collapse-{{node_name}}" class="btn btn-link">
                                                {{node_name}}
                                            </a>
                                        {% endif %}
                                    </div><!-- card-header -->
                                        {% if loop.index == 1 %}
                                            <div id="collapse-{{node_name}}" class="collapse show"
                                                 aria-labelledby="heading-{{node_name}}" data-parent="#{{node_type}}">
                                        {% else %}
                                            <div id="collapse-{{node_name}}" class="collapse collapsed"
                                                 aria-labelledby="heading-{{node_name}}" data-parent="#{{node_type}}">
                                        {% endif %}
                                        <div class="card-body">
                                            <div class="text-info dates">
                                                The reservation starts at
                                                <b>{{node_data["start_date"]|timestamp_to_date}}</b> and
                                                finishes at
                                                <b>{{node_data["end_date"]|timestamp_to_date}}</b>.
                                            </div>
                                            {% set useless = node_data.pop("start_date") %}
                                            {% set useless = node_data.pop("end_date") %}
                                            <div id="{{node_name}}-props" class="container properties">
                                                {% for prop in node_data %}
                                                    {% if loop.index % nb_col == 1 %}
                                                        <div class="row">
                                                    {% endif %}
                                                    <div class="col">
                                                        <span>{{ prop }}</span><br/>
                                                        {% if node_data[prop]["values"]|length == 0 %}
                                                            {% if node_data[prop]["mandatory"] %}
                                                                <input name="{{node_name}}-{{prop}}" type="text"
                                                                    onfocus="showDesc(this)"
                                                                    onchange="removeBold('heading{{node_loop.index}}')" required>
                                                            {% else %}
                                                                {% if "password" in prop %}
                                                                    <input name="{{node_name}}-{{prop}}" type="text"
                                                                        pattern="(?=.*\d)(?=.*[!@#$£%^|&~*°_=+';:.,{}<>?\\\/\(\)\[\]\-])(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                                        onfocus="showDesc(this)"
                                                                        onchange="removeBold('heading{{node_loop.index}}')">
                                                                {% else %}
                                                                    <input name="{{node_name}}-{{prop}}" type="text"
                                                                        onfocus="showDesc(this)"
                                                                        onchange="removeBold('heading{{node_loop.index}}')">
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if node_data[prop]["mandatory"] %}
                                                                <select name="{{node_name}}-{{prop}}" onfocus="showDesc(this)"
                                                                    onchange="removeBold('heading{{node_loop.index}}')" required>
                                                                    {% for v in node_data[prop]["values"] %}
                                                                        <option value="{{v}}">{{v}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% else %}
                                                                <select name="{{node_name}}-{{prop}}" onfocus="showDesc(this)"
                                                                    onchange="removeBold('heading{{node_loop.index}}')">
                                                                    {% for v in node_data[prop]["values"] %}
                                                                        <option value="{{v}}">{{v}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    {% if loop.index % nb_col == 0 %}
                                                        </div><!-- end row -->
                                                    {% endif %}
                                                {% endfor %}
                                                {% for n in range(extra_col) %}
                                                    <div class="col">
                                                    </div>
                                                {% endfor %}
                                                {% if extra_col != 0 %}
                                                    </div><!-- end row -->
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col apply-button">
                                                        <div class="btn btn-outline-secondary"
                                                             onclick="copyConfiguration('{{node_name}}')">
                                                            Apply this configuration to next nodes
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- container -->
                                        </div><!-- card-body -->
                                    </div><!-- collapse -->
                                </div>
                            {% endfor %}<!-- node_name -->
                        </div><!-- node_type -->
                    {% endif %}
                {% endfor %}
            </div><!-- node-config -->
            <button type="submit" class="btn btn-info deploy-button">Deploy</button>
            <div class="btn btn-danger cancel-button" onclick="cancelReservation()">Cancel the reservation</div>
        </form>
    </div>
{% endblock %}
