{% extends "base.html" %}
{% block other_js %}
	<script src="/static/js/reserve.js"></script>
{% endblock %}
{% block content %}
<div class="shadow reserve">
    <center><h4>Node Reservation</h4></center>
    <div class="bg-info rounded-right title">Filters</div>
    <div class="title-text">Adjust properties to select specific nodes</div>
    <div class="searchbar">
        <div class="textbar">
            <span>Property Name</span><br/>
            <input id="prop-names-list" list="prop-names" name="property"
                placeholder="Click to display names" onfocusout="displayPropValues()">
            <datalist id="prop-names">
            </datalist>
        </div>
        <div class="textbar">
            <span>Property Value</span><br/>
            <input id="prop-values-list" list="prop-values" name="value"
                placeholder="Select names before selecting values">
            <datalist id="prop-values">
            </datalist>
        </div>
        <div class="btn btn-info rounded add-filter" onclick="addFilter()">Add filter</div>
    </div><!-- searchbar -->
    <div class="filters">
    </div><!-- filters -->
    <div class="bg-info rounded-right title">Available Nodes</div>
    <div class="title-text">Click on the nodes to select them</div>
    {% if duplicated|length > 0 %}
        <div class="ml-2 text-danger">
            Name conflicts detected. {{duplicated|length}} nodes are missing!
        </div>
    {% endif %}
    <div class="default-view">
        <div class="nodeitems">
            {% for node in nodes %}
                <div id="{{node}}" class="node free" onclick="addNameFilter(this)">
                    <img src="/static/img/rpi.png" height="28px">
                    <div>{{node}}</div>
                    <div class="btn-color" onclick="showInfoView('{{node}}')">info</div>
                </div>
            {% endfor %}
        </div>
        <div class="fuzzy">
            <div class="nb-nodes">
                Select
                <input type="number" min="1" max="10" value="1" onchange="updateNbPrint(this)">
                of <span id="max-number"></span> nodes according to filters
            </div>
            <div class="btn btn-info rounded" onclick="addFilterSelection()">Add <span id="nb_print">1</span> node(s)</div>
        </div>
        <div class="shadow-lg bg-dark info-view">
            <div id="info-node"></div>
            <div class="bg-danger rounded close-view" onclick="hideInfoView()">close</div>
        </div>
    </div><!-- default-view -->
    <div class="bg-info rounded-right title">Selected Nodes</div>
    <div class="title-text">Click on reserve to use the nodes</div>
    <div class="selectednodes">
        <div class="ready-nodes">
        </div>
    </div>
    <div class="bg-info rounded-right title">Deployment Date</div>
    <div class="title-text">Choose the date and the duration</div>
    <div class="date-picker">
        <div>
            <div class="field">
                Beginning Date
            </div>
            <input type="date" id="start-date" class="input-lg">
        </div>
        <div>
            <div class="field">
                Start Time
            </div>
            <input type="number" id="start-hours" min="0" max="23" class="input-sm">h
            <input type="number" id="start-minutes" min="0" max="59" class="input-sm">
        </div>
        <div>
            <div class="field">
                Duration in hours (72 hours maximum)
            </div>
            <input type="number" id="duration" min="0" max="72" value="2" class="input-lg">
        </div>
        <div class="btn btn-info rounded" onclick="reserveNodes()">Reserve</div>
    </div>
</div>
{% endblock %}
