{% extends "base.html" %}

{% block content %}
    <div class="my-3 bg-white rounded shadow-sm user">
        <h4 class="text-center">User Management</h4>
        <div class="bg-info rounded-right title">
            Pending User Requests
        </div>
        {% if pending_users|length == 0 %}
            <span class="ml-3">None</span>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Confirmed Email</th>
                        <th scope="col">Authorize</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pending_users %}
                        <tr>
                            <td class="p-3">{{ user.email }}</td>
                            <td class="p-3">{{ user.confirmed_email }}</td>
                            <td>
                                <a href="/admin/user/authorize/{{user.email}}" class="btn btn-info"
                                    style="width: 85.6px;">&#x002B;</a>
                            </td>
                            <td>
                                <a href="/admin/user/remove/{{user.email}}" class="btn btn-warning"
                                    style="width: 85.6px;">&#x2212;</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <div class="bg-info rounded-right title">
            Authorized Users
        </div>
        {% if authorized_users|length == 0 %}
            <span class="ml-3">None</span>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Confirmed Email</th>
                        <th scope="col">Promote</th>
                        <th scope="col">Revoke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in authorized_users %}
                        <tr>
                            <td class="p-3">{{ user.email }}</td>
                            <td class="p-3">{{ user.confirmed_email }}</td>
                            <td>
                                <a href="/admin/user/promote/{{user.email}}" class="btn btn-info"
                                    style="width: 85.6px;">&#x002B;</a>
                            </td>
                            <td>
                                <a href="/admin/user/unauthorize/{{user.email}}" class="btn btn-warning"
                                    style="width: 85.6px;">&#x2212;</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <div class="bg-info rounded-right title">
            Admin Users
        </div>
        {% if admin_users|length == 0 %}
            <span class="ml-3">None</span>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Confirmed Email</th>
                        <th scope="col">Revoke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in admin_users %}
                        <tr>
                            <td class="p-3">{{ user.email }}</td>
                            <td class="p-3">{{ user.confirmed_email }}</td>
                            <td>
                                <a href="/admin/user/revoke/{{user.email}}" class="btn btn-warning"
                                    style="width: 85.6px;">&#x2212;</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
